extends ../layouts/layout

block content
  .jumbotron
    h1 Shopping Cart Example

  .row
    .col-md-4.col-sm-4.col-xs-4
      div(style='border-radius: 3px; background: #efefef;margin: 0 auto;text-align: center; height: 100px;')
        p xxx
    .col-md-4.col-sm-4.col-xs-4
      div(style='border-radius: 3px; background: #efefef;margin: 0 auto;text-align: center; height: 100px;')
        p xxx
    .col-md-4.col-sm-4.col-xs-4
      div(style='border-radius: 3px; background: #efefef;margin: 0 auto;text-align: center; height: 100px;')
        p xxx
